* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace;
  font-size: 30px;
}

.calculator-container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.output {
  background-color: black;
  color: white;
  width: 100%;
  text-align: right;
  padding-block: 20px;
  padding-inline: 10px;
  min-height: 100px;
  font-size: 3rem;
}

.keypad {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "clear clear backspace divide"
    "seven eight nine times"
    "four five six minus"
    "one two three plus"
    "zero zero zero equals";
}

button {
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
  outline: 3px solid white;
  border: none;
}

.clear {
  grid-area: clear;
}

.bg-grey {
  background-color: darkgrey;
  color: black;
}

.bg-orange {
  background-color: chocolate;
  color: white;
}

.zero {
  grid-area: zero;
}
